:root{
    --offWhite: #eaeaea;
  
    --primary: #d61b1b;
    --dimPrimary: #af5252;
    --complimentery: #1bd6d6;
  
    --tetraPurple: #791bd6;
    --orange: #d6791b;
    --yellow: #d6d61b;
  
    --grey: #8a7373; 
    
  }