.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#eaeaea;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  
  text-align: center;
}

.subtitle {
  margin: 0.25rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #cecece;
}

.subtitle a{
  color: #af5252;
}

.altTitle {
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.smallgrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;

  border-radius: 1px;
  border-color: #eaeaea;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #af5252;
  background-color: #2d2d2d;
  border-radius: 30px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 500px;
}

/*background-color: #2d2d2d;*/

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card r,
.card p a,
.card p1 r{
  color: #af5252;
}

.card p1 a:hover{
  color: #af5252;
}

/*All the different linkcards because I can't figure out how to make subclasses*/

.YTlinkcard{
  margin: 1rem;
  padding: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #af525227;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.YTlinkcard:hover,
.YTlinkcard:focus,
.YTlinkcard:active {
  color: #fafafa;
  border-color: #2d2d2d;
  background-color: #ff2323;
}

.INlinkcard{
  margin: 1rem;
  padding: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #af525227;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.INlinkcard:hover,
.INlinkcard:focus,
.INlinkcard:active {
  color: #fafafa;
  border-color: #2d2d2d;
  background:
  linear-gradient(90deg, rgb(252, 176, 69) 0%, rgb(253, 29, 29) 0%, rgb(131, 58, 180) 100%);
}

.SClinkcard{
  margin: 1rem;
  padding: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #af525227;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.SClinkcard:hover,
.SClinkcard:focus,
.SClinkcard:active {
  color: #fafafa;
  border-color: #2d2d2d;
  background-color: #d64b00;
}

.GHlinkcard{
  margin: 1rem;
  padding: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #af525227;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.GHlinkcard:hover,
.GHlinkcard:focus,
.GHlinkcard:active {
  color: #fafafa;
  border-color: #2d2d2d;
  background-color: #31b13c;
}

/* End of specialized linkcards */

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.titledDivider {
  text-align: center;
  
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  font-size: 3rem;
  font-weight: 700;
  
  border-bottom: 1px solid #eaeaea;
  min-width: 50rem;
  line-height: 1.15;  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
